{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'user/css/styling.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light active" style="background-color: #6f42c1;">
    <a class="navbar-brand" href="/"><span><svg width="110" height="75" viewBox="0 0 1236 1084" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.08268 741.5C-29.4174 580.5 205.778 115.809 205.778 115.809C205.778 115.809 219.5 141 283.082 315.5C255.978 377.1 114.583 568.5 107.583 754.5C3.08268 754.5 3.08268 741.5 3.08268 741.5Z" fill="black"/>
        <path d="M3.08268 741.5C-29.4174 580.5 205.778 115.809 205.778 115.809C205.778 115.809 219.5 141 283.082 315.5C255.978 377.1 114.583 568.5 107.583 754.5C3.08268 754.5 3.08268 741.5 3.08268 741.5Z" fill="black"/>
        <path d="M1232 741.5C1264.5 580.5 1029.3 115.809 1029.3 115.809C1029.3 115.809 1001.08 125 937.5 299.5C964.604 361.1 1120.5 568.5 1127.5 754.5C1232 754.5 1232 741.5 1232 741.5Z" fill="#FF0000"/>
        <path d="M939.419 1057.05C908.892 842.685 817.31 413.951 1031 118.272C956.378 64.0642 817.31 27.1039 817.31 27.1039L786.783 620.926H766.432L786.783 19.7119C749.472 9.85596 725.729 2.46399 705.377 0C678.242 36.9599 634.147 59.1358 634.147 59.1358L630.755 620.926H610.404C625.102 330.996 607.012 71.4557 607.012 71.4557C556.134 91.1677 469.311 179.821 432 179L464.552 1081.69C464.552 1081.69 759.648 1086.62 939.419 1057.05Z" fill="black"/>
        <path d="M272.406 1057.05C331.434 436.126 314.217 367.135 206 118.272C269.947 59.1358 380.623 17.2479 442.11 0C487.365 82.7901 713.449 206.357 752.801 208C752.801 208 758.259 397.478 899.5 480.478C802.677 512.978 456.867 298.143 456.867 298.143V480.478H616.733V640.638H456.867V872.253C707.5 916 912 852.5 912 852.5L940 1056.5C940 1056.5 472.5 1118 272.406 1057.05Z" fill="#FF0000"/>
        </svg></span><span style = "font-family: 'Lobster', cursive; font-size:50px;">Ethnic Wear</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/" style = "font-family: 'Lobster', cursive; font-size:25px;">Home<span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item active">
            <a class="nav-link" href="/about/" style = "font-family: 'Lobster', cursive; font-size:25px;">About Us</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/contact-us/" style = "font-family: 'Lobster', cursive; font-size:25px;">Contact Us</a>
        </li>
        
        
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'ecomapp:search' %}" method="GET">
            <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
            <button class="btn btn-success my-2 my-sm-0" type="submit" style = "font-family: 'Lobster', cursive; font-size:15px;">Search</button>
            </form>
      
        <a href="/my-cart/"> <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="buttom" data-html="true" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." style = "font-family: 'Lobster', cursive; font-size:15px;">
            Cart
        
            </button>
        </a>
       
        
    </div>
    {% if user.is_authenticated %}
        <a href="/Account/" style = "font-family: 'Lobster', cursive; font-size:15px;">{{user.first_name}}<span id="cartId"><i class="fa fa-user"></i></span> </a>
        <a href="/logout/" style = "font-family: 'Lobster', cursive; font-size:15px;">Logout<span id="cartId"><i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i></span> </a>
        {% else %}
        <a href="/login/" style = "font-family: 'Lobster', cursive; font-size:17px; color:black;"> Login <span id="cartId"><i class="fa fa-user"></i></span> </a>
        <a href="/register/" style = "font-family: 'Lobster', cursive; font-size:17px; color:black;">&nbsp;&nbsp;SignUp <span id="cartId"><i class="fa fa-user"></i></span> </a>
        {% endif %}
    </nav>
    <hr>

   
    {% block content %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design-icons/2.2.0/scss/material-icons.scss">
</body>

</html>
{% include "footer.html" %}