<div class="footer" style="background-color: #6f42c1;>
  <div class="container">
      <div class="row mx-0" style="overflow:hidden; margin: auto 0;">
        <div class = "row g-4 copy-right mx-0" >
          <div class = "col-md-5 col-lg-3 row-lg-2">
              <a class = "text-uppercase text-decoration-none brand" href = "/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><svg width="50" height="60" viewBox="0 0 1236 1084" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.08268 741.5C-29.4174 580.5 205.778 115.809 205.778 115.809C205.778 115.809 219.5 141 283.082 315.5C255.978 377.1 114.583 568.5 107.583 754.5C3.08268 754.5 3.08268 741.5 3.08268 741.5Z" fill="black"/>
                <path d="M3.08268 741.5C-29.4174 580.5 205.778 115.809 205.778 115.809C205.778 115.809 219.5 141 283.082 315.5C255.978 377.1 114.583 568.5 107.583 754.5C3.08268 754.5 3.08268 741.5 3.08268 741.5Z" fill="black"/>
                <path d="M1232 741.5C1264.5 580.5 1029.3 115.809 1029.3 115.809C1029.3 115.809 1001.08 125 937.5 299.5C964.604 361.1 1120.5 568.5 1127.5 754.5C1232 754.5 1232 741.5 1232 741.5Z" fill="#FF0000"/>
                <path d="M939.419 1057.05C908.892 842.685 817.31 413.951 1031 118.272C956.378 64.0642 817.31 27.1039 817.31 27.1039L786.783 620.926H766.432L786.783 19.7119C749.472 9.85596 725.729 2.46399 705.377 0C678.242 36.9599 634.147 59.1358 634.147 59.1358L630.755 620.926H610.404C625.102 330.996 607.012 71.4557 607.012 71.4557C556.134 91.1677 469.311 179.821 432 179L464.552 1081.69C464.552 1081.69 759.648 1086.62 939.419 1057.05Z" fill="black"/>
                <path d="M272.406 1057.05C331.434 436.126 314.217 367.135 206 118.272C269.947 59.1358 380.623 17.2479 442.11 0C487.365 82.7901 713.449 206.357 752.801 208C752.801 208 758.259 397.478 899.5 480.478C802.677 512.978 456.867 298.143 456.867 298.143V480.478H616.733V640.638H456.867V872.253C707.5 916 912 852.5 912 852.5L940 1056.5C940 1056.5 472.5 1118 272.406 1057.05Z" fill="#FF0000"/>
                </svg></span><p style = "font-family: 'Lobster', cursive; font-size:30px; color:black;">&nbsp;&nbsp;&nbsp;&nbsp;Ethnic Wear</p></a>
              <p class = style = "font-family: 'Lobster', cursive; font-size:19px; color:black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We at Ethnic Wear take pride in keeping &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nepalese culture alive through cultural &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wardrobe and jewellery since 2065 B.S.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="footer_about">
                  <div class="footer_logo">
                    <h5 class = "fw-normal mb-3" style = "font-family: 'Lobster', cursive; font-size:30px; color:black;">Contact Us</h5>
                      
                  </div>
                  <p>
                      <span style = "font-family: 'Lobster', cursive; font-size:17px; color:black;"> <i class="fa fa-globe"></i> Budanilkantha, Kathmandu, Nepal</span><br>
                      <span><i class="fa fa-envelope-o"></i> <a href="mailto:ethnicwear@gmail.com" style = "font-family: 'Lobster', cursive; font-size:17px; color:black;">ethnicwear@gmail.com</a></span>
                      <br> 
                      <span> <i class="fa fa-phone-square"></i> <a href="tel:+9779840216096" style = "font-family: 'Lobster', cursive; font-size:17px; color:black;">+977-9840216096</a>
                          </span>  
                  </p>
                  
                  
              </div>
          </div>
          <div class="col-lg-2 col-md-3">
              <div class="footer_widget">
                  <h4  style = "font-family: 'Lobster', cursive; font-size:30px; color:black;">Links</h4>
                  <ul>
                    <li><a href="/"  style = "font-family: 'Lobster', cursive; font-size:17px; color:black;">Home</a></li>
                      <li><a href="/about"  style = "font-family: 'Lobster', cursive; font-size:17px; color:black;">About</a></li>
                      <li><a href="/contact-us" style = "font-family: 'Lobster', cursive; font-size:17px; color:black;">Contact Us</a></li>
                      
                  </ul>
              </div>
          </div>
          <div class = "col-md-6 col-lg-3">
            <h5 class = "fw-normal mb-3" style = "font-family: 'Lobster', cursive; font-size:30px; color:black;">Follow Us</h5>
            <div class="m-4">
                <ul class = "list-unstyled d-flex">
                    <li>
                        <a href = "#" class = "text-decoration-none text-muted fs-4 m-4">
                            <i class = "fa fa-facebook-f" style = "font-size:30px; color:black;"></i>
                        </a>
                    </li>
                    <li>
                        <a href = "#" class = "text-white text-decoration-none text-muted fs-4 m-4">
                            <i class = "fa fa-twitter" style = "font-size:30px; color:black;"></i>
                        </a>
                    </li>
                    <li>
                        <a href = "#" class = "text-white text-decoration-none text-muted fs-4 m-4">
                            <i class = "fa fa-instagram" style = "font-size:30px; color:black;"></i>
                        </a>
                    </li>
                    <li>
                        <a href = "#" class = "text-white text-decoration-none text-muted fs-4 m-4">
                            <i class = "fa fa-pinterest" style = "font-size:30px; color:black;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
          
      </div>
  </div>
</div>
<div class="footer_bottom text-center py-2">
  <p class="mb-0">
      Copyright &copy; 2022 EthnicWear. All right reserved.
      <br>
                      <span>
                          <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Khalti_Digital_Wallet_Logo.png.jpg" alt="khalti" height="50px" width="100px">
                          <img src="https://png.pngtree.com/png-clipart/20210606/original/pngtree-cash-on-delivery-logo-png-image_6401605.jpg" alt="cashondelivery" height="50px" width="50px">
                      </span>
  </p>
</div>